extends ../layouts/application

block content
    a.nav-link(href=route('newTask'))= text('views.tasks.new.create')
    .card.border-0.mb-5
        .card-body.p-2.bg-primary
            form(action=route('tasks') method='get')
                .row
                    .col
                        .mb-3
                            +select(query, statuses, 'status', errors)(name="status")
                    .col
                        .mb-3
                            +select(query, executors, 'executor', errors)(name="executor")
                    .col
                        .mb-3
                            +select(query, labels, 'label', errors)(name="label")
                .mb-3.form-check
                    input.form-check-input(
                        name="isCreatorUser"
                        type="checkbox"
                        id="data_isCreatorUser"
                        checked=query.isCreatorUser
                    )
                    label.form-check-label(
                        for="data_isCreatorUser"
                    )= getLabel('isCreator')
                +submit()(value=text('views.users.show') class="btn-success")

    table.table.table-striped.table-hover.table-primary
        thead
            tr
                th= text('views.tasks.id')
                th= text('views.tasks.name')
                th= text('views.tasks.status')
                th= text('views.tasks.creator')
                th= text('views.tasks.executor')
                th= text('views.tasks.createdAt')
                th
            tbody
                each task in tasks
                    tr
                        td= task.id
                        td
                            a(href=route('viewTask', { id: task.id }))= task.name
                        td= task.status.name
                        td= task.creator.name
                        td= _.get(task.executor, 'name', '')
                        td= formatDate(task.createdAt)
                        td
                            a(href=route('updateTaskForm', { id: task.id }))= text('views.tasks.existing.update')
                            +buttonTo(route('updateTask', { id: task.id }), 'delete')(class='btn btn-link' value=text('views.tasks.existing.delete'))

                else
                    tr
                        td.text-center(colspan='7')= text('views.tasks.empty')
